streamlit==1.25.0
requests==2.31.0
beautifulsoup4==4.12.0
pandas==2.0.3
scikit-learn==1.3.0
nltk==3.8.1
pytrends==4.9.2
chatterbot==1.0.8
spacy==3.7.4
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl